* {
  margin: 0px;
  padding: 0px;
}

.box {
  border: 2px solid black;
  text-align: center;
  width: 80vw;
  margin: auto;
}

.nameBox {
  padding: 20px 0;
  margin: 10px auto;
}
.nameBox form{
  margin: 20px 0 0 0;
}

.content {
  border: 2px solid black;
  min-height: 500px;
  max-height: 500px;
  width: 80%;
  min-width: 300px;
  margin: 10px auto;
  background-color: whitesmoke;
}

.chatBox {
  margin-top: 10px;
  background-color: aliceblue;
}
.chatBox form {
  margin-bottom: 10px;
}

.nameBox form input[type="text"], .chatBox form input[type="text"] {
  width: 60%;
  min-width: 200px;
  margin: 0 10px;
  padding: 5px;
}
.nameBox form input[type="submit"], .chatBox form input[type="submit"]  {
  padding: 5px 10px;
}
